:root {
  --color-primary: #e01a00;
  --color-primary-light: #000000;
  --color-primary-dark: #000;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #000;
  --color-grey-dark-1: #000000;
  --color-grey-dark-2: #b8beb6;
  --color-grey-dark-3: #e90d68;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }



html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }



.logo {
  height: 5.45rem;
  margin-left: 2.5rem;
  transform:translate(0);
  position: absolute;
  top: 15.0%;
  right: 82.6%;
 }

.japple2{
    opacity: .4;
    transform:translate(0);
    position: absolute;
    top: 38.2%;
    right: 74.6%;
    max-width: 213px;    
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;  
    overflow: hidden;  
    transform:translate(0);
    position: absolute;     
    color:#3cf784; 
    font-size: 45px; 
    color:#fff;
}
.japple
{
    z-index: 5;
}
.japple4{
    opacity: .9;
    transform:translate(0);
    position: absolute;
    max-width:1287px;
    top: -24%;
    left: 8.7%;     
}
.japple3{
    opacity: .1;
    transform:translate(0);
    position: absolute;
    top: 38.2%;
    right: 74.5%;  
    max-width: 213px;
    max-height: 340px;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;  
    overflow: hidden;  
transform:translate(0);
    position: absolute;    
    color:#3cf784; 
    font-size: 45px; 
    color:#fff;
}


.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  
  height: 45rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
      height: 11rem; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.qn-view {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }




.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  
  
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
    transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.wecancodeit {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.tv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

  .tv__photo {
    width: 100%;
    display: block; }


@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none; }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none; } }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none; }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none; } }




.navbar_list,.nav__tvshows
{
  font-size:medium ;
}
.tvShows__specific_tvShow
{
  font-size: large;
}
body{
  font-size: large;
}


@keyframes moveInBoton{
  0% {
      opacity: 0;
      transform:translateY(50px);
  }
  

  
  100% {
      opacity: 1;
  transform:translate(0);
  }
  
}


.btn-white{
  background-color: #fff;
  color: #777;
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
   color: #3cf784;
}
.btn:active{
  transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn::after{
 
 
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
  transition: all .4s;
}
.btn-white::after{
  background-color: #fff;
}
.btn:hover::after{
  transform: scaleX(1.4)scaleY(1.6);
  opacity: 0;
}


@keyframes movebotton{
  0% {
      opacity: 0;
      transform:translateY(-100);
  }
  
  80%{
       transform:translateY(20);
  }
  
  100% {
      opacity: 1;
  transform:translateY(0);
  }
}
  





.btn-animated {
  animation: moveInBoton .2s ease-out 2s;
  animation-fill-mode: backwards;
  
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

table {
  font-family: arial, sans-serif;   
  width: 89%;
  vertical-align: text-bottom;
padding-left: 11%;

background-color:rgba(0, 0, 0, 0.5);
  }
  
  td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  
  }
  
  tr:nth-child(even) {
  background-color: #dddddd;
  }